body {
    font-family: 'Times New Roman', serif;
    background-color: #222; /* Cor escura, como a noite */
    color: #fff; /* Texto branco para contraste */
}

header {
    text-align: center;
    color: #ffcc00; /* Dourado, remetendo ao ouro de Hogwarts */
    text-shadow: 2px 2px 4px #000;
}

.pesquisa {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.pesquisa input {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.pesquisa button {
    padding: 8px 16px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filme-card {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nome-filme {
    color: #ffcc00;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
}

.descricao-filme {
    color: #fff;
    line-height: 1.5;
}